
Test Project/.tmp/Test Project.md5
*.pyc
RCRServer/.idea/misc.xml

RCRServer/.idea/modules.xml

RCRServer/.idea/workspace.xml

RCRServer/.idea/RCRServer.iml

RCRServer/.idea/vcs.xml
RCRClient/.tmp/RCRClient.md5
*.md5
*.DS_Store
